.cart-contain{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0px 0px 100px;
}
.cart-contain .cart{
    display: flex;
    width: 1000px;
    height: 180px;
    gap: 100px;
    border: 2px solid rgb(180, 174, 174);
    border-radius: 5px;
}
.cart-img{
    width: 198px;
    height: 178px;
    border: 2px solid gray;
    border-radius:5px 0px 0px 5px;
}
.cart-img img{
    height: 100%;
    width: 100%;
}
.cart .cart-details{
    font-size: 20px;
    font-weight: 400;
}
.cart button{
    width: 200px;
    height: 30px;
    margin-top: 5px;
    font-size: 19px;
    background-color: rgb(230, 55, 55);
    border: none;
    border-radius: 10px;
    color: white;
}
