@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.main{
    background-color: gainsboro;
    width: 100wv;
    height: 400px;
}
.container{
    width: 100vw;
    height: 300px;
    display: flex;
    gap: 10px;
    margin: 50px 0px 0px 0px;
    padding:30px 0px 0px 200px;
}
.con{
    width: 250px;
    height: 300px;
    font-size: 13px;
    font-weight: 400;
}
.con h2{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 22px;
}
.con ul li{
    list-style: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0px 0px 0px;
}
.closer ul{
    width: 500px;
    margin-left: 500px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.closer ul li{
    list-style: none;
    font-family: sans-serif;
}
.copy{
    padding-left: 35px;
}